<?xml version="1.0" encoding="UTF-8"?>
<suite name="HRM Test Suite" parallel="tests" thread-count ="5">
	<listeners>
		<listener class-name="com.toppan.listeners.TestListener"></listener>
	</listeners>
	<test name="HRM Test">
		<classes>
			<class name="com.toppan.test.LoginPageTest"></class>
			<class name="com.toppan.test.HomePageTest"></class>
		</classes>
	</test>
	<test name="HRM Test 2">
		<classes>
			<class name="com.toppan.test.DummyTest"></class>
			<class name="com.toppan.test.DummyTestTwo"></class>
		</classes>
	</test>
		<!--  <test name="HRM DB verification test ">
		<classes>
			<class name="com.toppan.test.DBVerificationTest"></class>
		</classes>
	</test>-->
</suite>